
<!-- Modal -->
<div *ngIf="employee" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header bg-dark">
        <h5 class="modal-title text-light" id="exampleModalLongTitle">{{employee.first_name }} Details</h5>
        <button (click)="dep_name=null"type="button" class="close" data-dismiss="modal" aria-label="Close">
          <svg class="bi bi-x-circle-fill text-warning" width="1.3em" height="1.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zm-4.146-3.146a.5.5 0 00-.708-.708L8 7.293 4.854 4.146a.5.5 0 10-.708.708L7.293 8l-3.147 3.146a.5.5 0 00.708.708L8 8.707l3.146 3.147a.5.5 0 00.708-.708L8.707 8l3.147-3.146z" clip-rule="evenodd"/>
          </svg></button> 
      </div>

      <div class="alert alert-success" role="alert">
        Details successfully saved.
       </div>
<!--MODAL BOOOOOOOOODY-->
      <div class="modal-body"> 
          <div class="alert alert-info d-flex"> <h5>Full Name: {{employee.first_name}} {{employee.last_name}}</h5></div>
           <div class="alert alert-info d-flex "> <h5>ID: {{employee.id}}</h5></div>
           <div class="alert alert-info d-flex "> <label>Birth Date:<input [(ngModel)]="employee.birth_date" placeholder="YYYY-MM-DD"> </label></div>
          
           <button (click)="getDepName(employee.department_id)">SHOW Department</button>
           <div class="alert alert-info d-flex "> <h5>Department: {{department.name}} </h5></div>
           
     
          <div class="alert alert-primary">
          <label>Edit name <input  [(ngModel)]="employee.first_name" placeholder="Name"/></label>
          </div>

            <div class="alert alert-primary">
              <label for="inputState">Change department
              <select [(ngModel)]="employee.department_id">
                <option value="8">Software Engineering</option>
                <option value="9">Human Resources</option>
                <option value="10">Student Administration</option>
                <option value="11">ICT & Support</option>
              </select>
              </label>
            </div>
  
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="department.name=null" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success"(click)="save()"> Save changes</button>
      </div>
    </div>
  </div>
</div>





