<br>
<!--Details Header of the table-->
     <div class="d-flex justify-content-center bg-dark" style="margin-top: -24px;">
       <h2 style="color:rgb(255, 220, 24);"><svg class="bi bi-people-fill" width="2.2em" height="2.2em" style="border:1.4px solid gray;border-radius:10px;padding:10px;color: rgb(255, 220, 24);"  viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm0-4a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zm0-4a.5.5 0 01.5-.5h9a.5.5 0 010 1h-9a.5.5 0 01-.5-.5zM3.854 2.146a.5.5 0 010 .708l-1.5 1.5a.5.5 0 01-.708 0l-.5-.5a.5.5 0 11.708-.708L2 3.293l1.146-1.147a.5.5 0 01.708 0zm0 4a.5.5 0 010 .708l-1.5 1.5a.5.5 0 01-.708 0l-.5-.5a.5.5 0 11.708-.708L2 7.293l1.146-1.147a.5.5 0 01.708 0zm0 4a.5.5 0 010 .708l-1.5 1.5a.5.5 0 01-.708 0l-.5-.5a.5.5 0 01.708-.708l.146.147 1.146-1.147a.5.5 0 01.708 0z" clip-rule="evenodd"/>
      </svg> Tasks</h2><br><br>
     </div>
     <div class="search-task">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Start searching for a employee by id or name.">
    </div>




    <div class="h-100 d-flex justify-content-center">
      <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Add New Task <svg class="bi bi-pencil-square" width="1.5em" height="1.4em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
           <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z"/>
           <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd"/>
         </svg></button>
    
      <!-- Modal div which pop ups the add employee form -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          
          <div class="modal-content bg-dark" style="color:white;">
       
           <div class="modal-header d-flex justify-content-center">
                <p><svg class="bi bi-person-plus-fill" width="4.5em" height="4.5em" viewBox="0 0 16 16" fill="deepskyblue" xmlns="http://www.w3.org/2000/svg">
                     <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 100-6 3 3 0 000 6zm7.5-3a.5.5 0 01.5.5v2a.5.5 0 01-.5.5h-2a.5.5 0 010-1H13V5.5a.5.5 0 01.5-.5z" clip-rule="evenodd"/>
                     <path fill-rule="evenodd" d="M13 7.5a.5.5 0 01.5-.5h2a.5.5 0 010 1H14v1.5a.5.5 0 01-1 0v-2z" clip-rule="evenodd"/>
                   </svg></p>
               </div>
    
            <div class="modal-body" style="display: flex;flex-wrap: wrap;">
                 
                <div style="margin-left: 2em;" class="form-group col-md-6">
                  <label>Name:
                  <input placeholder="short task name" style="width:150%" type="text" class="form-control" [(ngModel)]="addingTask.name" />
                  </label>
              </div>
    
              <div style="margin-left: 2em;" class="form-group col-md-6">
                <label>Dute Date:
                <input placeholder="YYYY-MM-DD" style="width:150%" type="text" class="form-control" [(ngModel)]="addingTask.due_date" />
                </label>
              </div>
       
    
          <div style="margin-left: 2em;" class="form-group col-md-6">
            <label>Department ID:
            <input placeholder="8, 9, 10, 11" style="width:150%" type="text" class="form-control" [(ngModel)]="addingTask.department_id" />
            </label>
        </div>
             </div>
    
          <div class="modal-footer">
              <button (click)="add()" class="fixed-right btn btn-primary">Add</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
    
          </div>
          
        </div>
      </div>
      
    </div>
    
    
<!--List of tasks displayed as a table-->
<table  class="table table-striped table-sm table-dark table-bordered" style="text-align: center;">
     
    <thead >
      <tr style="background-color:black;color: rgb(28, 255, 255);">
        <th scope="col">#ID</th>
        <th scope="col">Task name</th>
        <th scope="col">Department ID</th>
        <th scope="col">delete</th>
        
      </tr>
    </thead>
<!--EACH ROW OF tasks!-->
    <tbody class="tableline">
      <tr *ngFor ="let task of Tasks | filter : searchText" 
      [class.selected]="task === selectedtask"
      (click)="onSelect(task)"
      data-toggle="modal" data-target="#exampleModalCenter">
 
        <th scope="row"><span class="badge"> {{task.id}} </span> </th>
        <td>{{task.name}}</td>
        <td>{{task.department_id}}</td>
         <td  (click)="delete(task)"><svg class="bi bi-x-circle-fill" style="color:red;margin-top:0.1em;" width="1.3em" height="1.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M16 8A8 8 0 110 8a8 8 0 0116 0zm-4.146-3.146a.5.5 0 00-.708-.708L8 7.293 4.854 4.146a.5.5 0 10-.708.708L7.293 8l-3.147 3.146a.5.5 0 00.708.708L8 8.707l3.146 3.147a.5.5 0 00.708-.708L8.707 8l3.147-3.146z" clip-rule="evenodd"/>
            </svg></td>
            
      </tr>
  
    </tbody>
</table>






<app-task-detail [task]="selectedtask"></app-task-detail>



